* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.site-wrapper {
  max-width: 1920px;
}

a {
  text-decoration: none !important;
}

img,
iframe {
  max-width: 100%;
}

.t-color-me {
  color: #F47810;
}

h1.page-title {
  margin: 2rem 0;
}

h1.block-header,
h2.block-header,
h3.block-header,
h4.block-header,
h5.block-header,
h6.block-header {
  font-size: 2.25rem;
}

.sale-product {
  display: flex !important;
  justify-content: end;
  flex-direction: column;
}
.sale-product .sale-product-title {
  font-size: 1.625rem;
}
.sale-product .sale-price {
  font-size: 1.625rem;
}
.sale-product .count {
  font-size: 1.5rem;
}
.sale-product img {
  border-radius: 100%;
  border: solid 1px #F47810;
}

.cart-btn {
  font-size: 1.375rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.625rem;
}
.cart-btn.badge-warning {
  background-color: #FDAD1E !important;
}

.block-on-js {
  display: flex;
  align-items: end;
}

.group .product-title {
  font-size: 1.625rem;
  font-family: "Comfortaa", cursive;
}
.group .product-description {
  font-size: 1.125rem;
  color: #c7c7c7;
  padding-top: 2.625rem;
}
.group .product-price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group .product-price-block .weight {
  display: block;
}
.group .product-price-block .price {
  font-size: 1.625rem;
  display: block;
}
.group .product-img {
  border-radius: 2.5rem;
  border: solid 1px #F47810;
}

.product-details {
  padding-top: 3rem;
}

.detailed {
  max-width: 38px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

header,
.logo,
.slider-main,
.price-main {
  display: block;
}

body {
  background: url("../img/bg.png");
  background-color: #000;
  color: #E3E9CB;
}

a {
  text-decoration: none;
}

footer {
  background-color: #181B23;
  font-size: 0.5625rem;
  color: #FDAD1E;
  clear: both;
}
footer .footer-text {
  float: left;
}

header {
  background: #000;
  border-bottom: 1px solid #F47810;
}

.logo {
  padding: 0.75rem 0 0 1.14rem;
  float: left;
}

.menu-cart {
  float: right;
  color: #F47810;
  display: flex;
}

.menu-fixed {
  position: sticky;
  top: 0;
  max-width: 100%;
  z-index: 5;
  margin: auto;
}

.toggle-button {
  background-color: transparent;
  border: none;
  float: left;
  margin: 1rem 3rem 0 1rem;
  width: 35px;
  height: 29px;
  cursor: pointer;
  z-index: 103;
}

.btn-side-open {
  background: url("../img/btn-start.svg") no-repeat;
  background-size: contain;
}

.btn-side-close {
  background: url("../img/close.svg") no-repeat;
  background-size: contain;
}

.text-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.text-slider a {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.text-menu .slick-track {
  width: auto !important;
}

a {
  color: #E3E9CB;
  text-align: center;
}

.active a {
  color: #F47810 !important;
}

.in-fixed {
  width: 100vw;
  margin-top: -3rem;
}

.more-opt {
  font-size: 0.812rem;
}
.more-opt p {
  margin-bottom: 0 !important;
}

.anchor {
  color: #E3E9CB;
  font-weight: 600;
}

.price {
  color: #F47810;
}

.price-main img {
  border-radius: 0.5rem;
}

.button {
  background-color: #F47810;
  border-radius: 1rem;
  border: none;
  padding: 0 .5rem;
}

.header {
  font-size: 1.125rem;
  font-family: "Comfortaa", cursive;
}
.header img {
  float: right;
}

.description {
  font-size: 0.8125rem;
  min-height: 1rem;
}
.description .show {
  cursor: pointer;
}
.description .hide {
  display: none;
}
.description.moret .hide {
  display: inline;
}
.description.moret .crop {
  display: none;
}

.description-text {
  padding-left: 0 !important;
  margin-top: 0.2rem;
}

.description-img {
  padding-right: 0 !important;
}

.more,
.price {
  font-size: 0.8125rem;
}

.button-open,
.button-close {
  position: fixed;
  top: 38.1%;
  background-color: transparent;
  border: none;
  z-index: 100;
}

.disabled {
  display: none;
}

.button-close {
  left: 50%;
}

.numb {
  width: 2.5rem;
  text-align: right;
}

.side-menu {
  position: fixed;
  display: block;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #181b23;
  color: #E3E9CB;
}
.side-menu ul {
  text-decoration: none;
}
.side-menu input {
  border: none;
  background-color: transparent;
  color: #F47810;
}
.side-menu p {
  margin-bottom: 0;
}

.content-in {
  z-index: 999999;
}

.head-text {
  font-size: 0.875rem;
  line-height: 0.625rem;
  color: #F47810;
  padding: 0.5rem 0 0 1rem;
}

.social-block {
  position: relative;
  font-weight: 600;
  font-size: 1.125rem;
  margin-left: 1rem;
}

.social {
  display: flex;
  justify-content: space-around;
  flex-direction: columns;
}
.social img {
  margin-right: 2rem;
  margin-top: 1rem;
}

.site-block-call {
  padding: 9rem 0 0rem 0rem;
}

.site-block {
  padding: 1.5rem 0 5rem 1rem;
  font-size: 1.125rem;
  font-weight: 600;
}
.site-block a {
  color: #E3E9CB;
  text-align: left;
}
.site-block p {
  margin-bottom: 1.5rem;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-cart {
  background-color: #F47810;
  border-radius: 1rem;
  border: none;
  padding: 0.3rem 1.5rem;
  margin-left: 1.2rem;
}

.img-cart {
  max-width: 25.333% !important;
}

.next-towar p {
  margin-bottom: 0 !important;
}

.numder-color {
  color: #F47810;
}

.balls {
  border: 2px #FDAD1E solid;
  border-radius: .5rem;
  font-size: 0.875rem;
  background-color: transparent;
  width: 78%;
  color: #E3E9CB;
}

.btn-text {
  max-width: 100%;
  margin-right: 1.5rem !important;
}

.cart-additional {
  border-bottom: 1px solid #F47810;
}

.cart .qty {
  width: 10px;
  text-align: right;
  background-color: transparent;
  border: none;
  color: #E3E9CB;
}
.cart .product-details {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-remove {
  font-size: 1.625rem;
  color: red;
}

.cart-totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-totals .total {
  font-size: 1.125rem;
}
.cart-totals .total .total-value {
  color: #F47810;
}
.cart-totals button {
  border: none;
}
.cart-totals .cart-bonus-points {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: end;
}
.cart-totals .cart-bonus-points input {
  max-width: 240px;
}
.cart-totals .cart-bonus-points .points {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #F47810;
}
.cart-totals .cart-bonus-points .bonus-btn {
  background-color: #FDAD1E;
  font-size: 1.125rem;
}
.cart-totals .processed-checkout {
  display: flex;
  align-items: center;
  justify-content: end;
}
.cart-totals .form-control {
  background-color: transparent;
  border: #FDAD1E solid 1px;
}

.product-lot {
  display: flex;
  align-items: center;
}
.product-lot .product-plus,
.product-lot .product-minus {
  cursor: pointer;
  display: contents;
}

.active-link {
  color: #F47810;
  text-decoration: underline !important;
  font-size: 1.125rem;
  font-weight: 600;
}
.active-link:hover {
  color: #F47810;
}

.active-link-down {
  color: #E3E9CB;
  border-bottom: 1px solid #F47810;
  line-height: .95;
  font-size: 1.125rem;
  font-weight: 300;
}

.map,
.cash {
  color: #E3E9CB;
  cursor: pointer;
}
.map:hover,
.cash:hover {
  color: #E3E9CB;
}

.link-def {
  color: #E3E9CB;
  font-size: 1.125rem;
  font-weight: 600;
}

.input-zakaz {
  background-color: rgba(99, 64, 2, 0.1);
  border-radius: .5rem;
  border: solid 1px #F47810;
  text-align: center;
  color: #F47810;
}

.link-credits-one,
.link-credits-two {
  color: #F47810;
}
.link-credits-one a,
.link-credits-two a {
  text-decoration: none !important;
  color: #F47810 !important;
}

.dop-opt {
  color: #E3E9CB;
  font-size: 1.125rem;
  font-weight: 300;
}
.dop-opt .payment {
  font-size: 0.875rem;
}

.comm-area {
  border: solid 1px #F47810;
  color: #E3E9CB;
  background-color: rgba(99, 64, 2, 0.1);
  font-size: 0.8125rem;
  width: 100%;
}

.address {
  color: #E3E9CB;
  font-size: 0.875rem;
}

.checkout input {
  width: 100%;
  margin-bottom: 1.5rem;
}
.checkout .container {
  max-width: 613px;
}

.woocommerce-MyAccount-navigation ul {
  list-style: none;
}
.woocommerce-MyAccount-navigation ul li.is-active a {
  color: #F47810;
}
.woocommerce-MyAccount-navigation ul li a:hover {
  color: #FDAD1E;
}

@media screen and (max-width: 600px) {
  h1.block-header,
  h2.block-header,
  h3.block-header,
  h4.block-header,
  h5.block-header,
  h6.block-header {
    font-size: 1.125rem;
  }

  .sale-product .sale-product-title {
    font-size: 0.8125rem;
  }
  .sale-product .sale-price {
    font-size: 0.8125rem;
  }
  .sale-product .count {
    font-size: 0.75rem;
  }

  .group .col-* {
    padding: 0;
  }
  .group .product-title {
    font-size: 1.125rem;
  }
  .group .product-description {
    font-size: 0.75rem;
    padding-top: initial;
  }
  .group .product-price-block .price {
    font-size: 1.25rem;
  }
  .group .product-img {
    border-radius: 1.25rem;
    border: solid 1px #F47810;
  }

  .product-details {
    padding-left: .75rem;
    padding-top: initial;
  }

  .cart-btn {
    padding: .75rem 0.75rem;
    font-size: 0.8125rem;
  }

  .detailed {
    padding: 0.25rem;
    max-width: 2rem;
    margin-top: -0.375rem;
  }

  .cart .group .product-title {
    font-size: 1.125rem;
  }
  .cart .group .product-price-block .price {
    font-size: 1.25rem;
  }

  .cart-totals .info {
    font-size: 0.75em;
  }

  .text-menu .slick-track {
    width: 50000px !important;
  }

  .site-wrapper {
    z-index: -1000;
  }

  .toggle-button {
    position: fixed;
    background-color: transparent;
    border: none;
    top: 17rem;
    left: 0;
    margin: 0;
    width: 18px;
    height: 60px;
    cursor: pointer;
    z-index: 200;
  }

  .btn-side-open {
    background: url("../img/uhide.svg") no-repeat;
    background-size: contain;
  }

  .btn-side-close {
    background: url("../img/hide.svg") no-repeat;
    background-size: contain;
    margin-left: -.6rem;
  }

  .slideout-open,
  .slideout-open .slideout-panel {
    overflow-x: visible !important;
    overflow-y: visible !important;
  }
}

/*# sourceMappingURL=style.css.map */
