.button-cart{
	background-color: $secondaryFontColor-dark;
	border-radius: 1rem;
	border: none;
	padding: 0.3rem 1.5rem;
	margin-left: 1.2rem;
}
.img-cart{
	max-width: 25.333% !important;
}
.next-towar{
	// font-size: 0.8125rem;
	p{
		margin-bottom: 0 !important;
	}
}
.numder-color{
	color: $secondaryFontColor-dark;
}

.balls{
	border: 2px $secondaryFontColor-light solid;
	border-radius: .5rem;
	font-size: 0.875rem;
	background-color: transparent;
	width: 78%;
	color: #E3E9CB;
}
.btn-text{
	max-width: 100%;
	margin-right: 1.5rem !important;
}
.cart-additional{
	border-bottom: 1px solid $secondaryFontColor-dark;
}
.cart{
	.qty{
		width: 10px;
		text-align: right;
		background-color: transparent;
		border: none;
		color: $mainFontColor;
	}
	.product-details{
		padding-top: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
.product-remove{
	font-size: $initialFontSize;
	color: red;
}
.cart-totals{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.total{
		font-size: $initialFontSize - 0.5rem;
		.total-value{
			color: $secondaryFontColor-dark;
		}
	}
	button{
		border: none;
	}
	.cart-bonus-points{
		display: flex;
		align-items: left;
		flex-direction: column;
		justify-content: end;
		input{
			max-width: 240px;
		}
		.points{
			text-decoration: underline;
			text-decoration-style: dotted;
			color: $secondaryFontColor-dark;
		}
		.bonus-btn{
			background-color: $secondaryFontColor-light;
			font-size: $initialFontSize - 0.5rem;
		}
	}
	.processed-checkout{
		display: flex;
		align-items: center;
		justify-content: end;
	}
	.form-control{
		background-color: transparent;
		border: $secondaryFontColor-light solid 1px;
	}

}
.product-lot{
	display: flex;
	align-items: center;
	.product-plus,
	.product-minus{
		cursor: pointer;
		display: contents;
	}
}