.button-cart{
	background-color: $fc;
	border-radius: 1rem;
	border: none;
	padding: 0.3rem 1.5rem;
	margin-left: 1.2rem;
}
.img-cart{
	max-width: 25.333% !important;
}
.next-towar{
	font-size: 0.8125rem;
	p{
		margin-bottom: 0 !important;
	}
}
.numder-color{
	color: $fc;
}
.cart-header{
	font-size: 1.125rem;
}