// Zakaz
.active-link{
	color: $secondaryFontColor-dark;
	text-decoration: underline !important;
	font-size: 1.125rem;
	font-weight: 600;
	&:hover{
		color: $secondaryFontColor-dark;
	}
}
.active-link-down{
	color: $mainFontColor;
	border-bottom: 1px solid $secondaryFontColor-dark;
	line-height: .95;
	font-size: 1.125rem;
	font-weight: 300;
	
}
.map, 
.cash{
	color: $mainFontColor;
	cursor: pointer;
	&:hover{
		color: $mainFontColor;
	}
}
.link-def{
	color: $mainFontColor;
	font-size: 1.125rem;
	font-weight: 600;
}
.input-zakaz{
	background-color: rgba(99, 64, 2, 0.1);
	border-radius: .5rem;
	border: solid 1px $secondaryFontColor-dark;
	text-align: center;
	color: $secondaryFontColor-dark;
}
.link-credits-one,
.link-credits-two{
	color: $secondaryFontColor-dark;
	a{
		text-decoration: none !important;
		color: $secondaryFontColor-dark !important;
	}
	
}
.dop-opt{
	color: $mainFontColor;
	font-size: 1.125rem;
	font-weight: 300;
	input{
		
	}
	.payment{
		font-size: 0.875rem;
	}
}
.comm-area{
	border: solid 1px $secondaryFontColor-dark;
	color: $mainFontColor;
	background-color: rgba(99, 64, 2, 0.1);
	font-size: 0.8125rem;
	width: 100%;
}
.address{
	color: $mainFontColor;
	font-size: 0.875rem;
}
.checkout{
	input{
		width: 100%;
		margin-bottom: 1.5rem;
	}
	.container{
		max-width: 613px;
	}
}