$mainFontColor: #E3E9CB; // Main Font color
$secondaryFontColor-dark: #F47810; // Secondary Font color - Darker
$secondaryFontColor-light: #FDAD1E; // Secondary Font color - Ligher
$initialFontSize: 1.625rem; // Initial font size
$mainFontFamily: 'Roboto', sans-serif;
$secondaryFontFamily: 'Comfortaa', cursive;
*{
	margin: 0;
	padding: 0;
	font-family: $mainFontFamily;	
}
.site-wrapper{
	max-width: 1920px;
}
a{
	text-decoration: none !important;
}
img,
iframe{
	max-width: 100%;
}
.t-color-me{
	color: $secondaryFontColor-dark;
}
h1.page-title{
	margin: 2rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
	&.block-header{
		font-size: 2.25rem;
	}
}
.sale-product{
	display: flex !important;
	justify-content: end;
	flex-direction: column;
	.sale-product-title{
		font-size: $initialFontSize;
	}
	.sale-price{
		font-size: $initialFontSize;
	}
	.count{
		font-size: $initialFontSize - 0.125rem;
	}
	img{
		border-radius: 100%;
		border: solid 1px $secondaryFontColor-dark;
	}
}
.cart-btn{
	font-size: $initialFontSize - 0.25rem;
	padding: 0.75rem 1.25rem;
	border-radius: 0.625rem;
	&.badge-warning{
		background-color: $secondaryFontColor-light !important;
	}
}
.block-on-js{
	display: flex;
	align-items: end;
}
.group{
	.product-title{
		font-size: $initialFontSize;
		font-family: $secondaryFontFamily;
	}
	.product-description{
		font-size: $initialFontSize - 0.5rem;
		color: #c7c7c7;
		padding-top:2.625rem;
	}
	.product-price-block{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.weight{
			// font-size: $initialFontSize - 0.5rem;
			display: block;
		}
		.price{
			font-size: $initialFontSize;
			display: block;
		}
	}
	.product-img{
		border-radius: 2.5rem;
		border: solid 1px $secondaryFontColor-dark;
	}
}
.product-details{
	padding-top: 3rem;
}
.detailed{
	max-width: 38px;	
}

.show{
	display: block;
}
.hide{
	display: none;
}
header,
.logo,
.slider-main,
.price-main{
	display: block;
}
body{
	background: url('../img/bg.png');
	background-color: #000;
	color: $mainFontColor;
}
a{
	text-decoration: none;
}
footer{
	background-color: #181B23;
	font-size: 0.5625rem;
	color: $secondaryFontColor-light;
	clear: both;
	.footer-text{
		float: left;
	}
}
header{
	background: #000;
	border-bottom: 1px solid $secondaryFontColor-dark;
}
.logo{
	padding: 0.75rem 0 0 1.14rem;
	float: left;
}
.menu-cart{
	float: right;
	color: $secondaryFontColor-dark;
	display: flex;
}
.menu-fixed{
	position: sticky;
	top: 0;
	max-width: 100%;
	z-index: 5;
	margin: auto;
	// margin-top: -3rem;
}
.text-slider{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	a{
		margin: 0 auto;
		display: flex;
		align-items: center;
	}
}
.text-menu{
	.slick-track{
		width: auto !important;
	}
}
a{	
	color: $mainFontColor;
	text-align: center;
}
.active{
	a{
		color: $secondaryFontColor-dark !important;
	}
}
.in-fixed{
	width: 100vw;
	margin-top: -3rem;
}
.more-opt{
	font-size: 0.812rem;
	p{
		margin-bottom: 0 !important;
	}
}
.anchor{
	color: $mainFontColor;
	font-weight: 600;
}
.price{
	color: $secondaryFontColor-dark;
}
.price-main{
	img{
		border-radius: 0.5rem;
	}
}
.button{
	background-color: $secondaryFontColor-dark;
	border-radius: 1rem;
	border: none;
	padding: 0 .5rem;
}
.header{
	font-size: 1.125rem;
	font-family: $secondaryFontFamily;
	img{
		float: right;
	}
}
.description{
	font-size: 0.8125rem;
	min-height: 1rem;
	.show{
		cursor: pointer;
	}
	.hide{
		display: none;
	}
	&.moret{
		.hide{
			display: inline;
		}
		.crop{
			display: none;
		}
	}
}
.description-text{
	padding-left: 0 !important;
	margin-top: 0.2rem;
}
.description-img{
	padding-right: 0 !important;
}
.more,
.price{
	font-size: 0.8125rem;
}
.button-open,
.button-close{
	position: fixed;
	top: 38.1%;
	background-color: transparent;
	border: none;
	z-index: 100;
}
.disabled{
	display: none;
}
.button-close{
	left: 50%;
}
.numb{
	width: 2.5rem;
	text-align: right;
}
.side-menu{
	position: fixed;
	display: block;
	height: 100%;
	width: 0;
	opacity: 0;
    transition: 1s;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #181b23;
	color: $mainFontColor;
	ul{
		text-decoration: none;
	}
	input{
		border: none;
		background-color: transparent;
		color: $secondaryFontColor-dark;
	}
	p{
		margin-bottom: 0;
	}
}

.move{
	width: 52%;
	opacity: 1;
	
}
.content-in{
	z-index: 999999;
	display: none;
}
.head-text{
	font-size: 0.875rem;
	line-height: 1rem;
	color: $secondaryFontColor-dark;
	padding: 0.5rem 0 0 1rem;
}

.social-block{
	position: relative;
	font-weight: 600;
	font-size: 1.125rem;
}
.social{
	display: flex;
	justify-content: space-around;
	flex-direction: columns;
	img{
		margin-right: 2rem;
		margin-top: 1rem;
	}
}
.site-block-call{
	padding: 10rem 0 0rem 0rem;
}
.site-block{
	padding: 1.5rem 0 6rem 1rem;
	font-size: 1.125rem;
	font-weight: 600;
	a{
		color: $mainFontColor;
	}
	
	p{
		margin-bottom: 1.5rem;
	}
}
.social-icon{
	display: flex;
	justify-content: center;
	align-items: center
}
// Корзина
@import 'cart';
// checkout
@import 'zakaz';
// account
@import 'account';

// Постмотреть размеры остальных экранов
@media screen and(max-width: 600px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		&.block-header{
			font-size: 2.25rem - 1.125rem;
		}
	}
	.sale-product{
		.sale-product-title{
			font-size: $initialFontSize - 0.8125rem;
		}
		.sale-price{
			font-size: $initialFontSize - 0.8125rem;
		}
		.count{
			font-size: $initialFontSize - 0.125rem - 0.75rem;
		}
	}
	.group{
		.col-*{
			padding: 0;
		}
		.product-title{
			font-size: $initialFontSize - 0.5rem;
		}
		.product-description{
			font-size: $initialFontSize - 0.5rem - 0.375rem;
			padding-top:initial;
		}
		.product-price-block{
			.weight{
				// font-size: $initialFontSize - 0.5rem - 0.375rem;
			}
			.price{
				font-size: $initialFontSize - 0.375rem;
			}
		}
		.product-img{
			border-radius: 1.25rem;
			border: solid 1px $secondaryFontColor-dark;
		}
	}
	.product-details{
		padding-left: .75rem;
		padding-top: initial;
	}
	.cart-btn{
		padding: .75rem 0.75rem;
		font-size: $initialFontSize - 0.8125rem;
	}
	.detailed{
		padding: 0.25rem;
		max-width: 2rem;
		margin-top: -0.375rem;	
	}
	.cart{
		.group{
			.product-title{
				font-size: $initialFontSize - 0.5rem;
			}
			.product-price-block{
				.weight{
					// font-size: $initialFontSize - 0.5rem - 0.375rem;
				}
				.price{
					font-size: $initialFontSize - 0.375rem;
				}
			}
		}
	}
	.cart-totals{
		.info{
			font-size: 0.75em;
		}
	}
	.text-menu{
		.slick-track{
			width: 50000px !important;
		}
	}
}
// Конец игры или мира