$fc: #F47810;
$fcw: #E3E9CB;
$fcn: #FDAD1E;
$font: 'Roboto', sans-serif;
$fontO: 'Sawarabi Gothic', sans-serif;
*{
	margin: 0;
	padding: 0;
	font-family: $font;
	
}
a{
	text-decoration: none !important;
}
img,
iframe{
	max-width: 100%;
}
header,
.logo,
.slider-main,
.price-main{
	display: none;
}
.t-color-me{
	color: $fc;
}
@media screen and (max-width: 600px){
	.show{
		display: block;
	}
	.hide{
		display: none;
	}
	header,
	.logo,
	.slider-main,
	.price-main{
		display: block;
	}
	body{
		background: url('../img/bg.svg');
		background-color: #000;
		color: $fcw;
	}
	a{
		text-decoration: none;
	}
	footer{
		background-color: #181B23;
		font-size: 0.5625rem;
		color: $fcn;
		clear: both;
		.footer-text{
			float: left;
		}
	}
	header{
		background: #000;
		border-bottom: 1px solid $fc;
	}
	.logo{
		padding: 0.75rem 0 0 1.14rem;
		float: left;
	}
	.active-menu{
		color: $fc !important;
	}
	.cart{
		float: right;
		color: $fc;
		display: flex;
		// margin-top: 1rem;
	}
	.text-slider{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		a{	
			color: $fcw;
			text-align: center;
		}
	}
	.slider-main{
		// margin-top: -1rem;
	}
	.more-opt{
		font-size: 0.812rem;
	}
	.anchor{
		color: $fcw;
		font-weight: 600;
	}
	.price{
		color: $fc;
		margin-left: 7px;
	}
	.price-main{
		img{
			border-radius: 0.5rem;
		}
	}
	.button{
		background-color: $fc;
		border-radius: 1rem;
		border: none;
		padding: 0 .5rem;
	}
	.header{
		font-size: 1.125rem;
		font-family: $fontO;
		img{
			float: right;
		}
	}
	.description{
		font-size: 0.8125rem;
		line-height: 1;
		.show{
			cursor: pointer;
		}
		.hide{
			display: none;
		}
		&.moret{
			.hide{
				display: inline;
			}
			.crop{
				display: none;
			}
		}
	}
	.description-text{
		padding-left: 0 !important;
		margin-top: 0.2rem;
	}
	.description-img{
		padding-right: 0 !important;
	}
	.more,
	.price{
		font-size: 0.8125rem;
	}
	.button-open,
	.button-close{
		position: fixed;
		top: 38.1%;
		border: none;
		background: #000;
		z-index: 1000000;
	}
	.disabled{
		display: none;
	}
	.button-close{
		left: 51%;
	}
	.numb{
		width: 2.5rem;
		text-align: right;
	}
	.side-menu{
		position: fixed;
		display: block;
		height: 100%;
		width: 0;
		opacity: 0;
	    transition: 2s;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		background: #181b23;
		color: $fcw;
		ul{
			text-decoration: none;
		}
		input{
			border: none;
			background-color: transparent;
			color: $fc;
		}
		p{
			margin-bottom: 0;
		}
	}
	.move{
		width: 52%;
		opacity: 1;
		
	}
	.content-in{
		z-index: 999999;
		display: none;
	}
	.head-text{
		font-size: 0.875rem;
		line-height: 1rem;
		color: $fc;
		padding: 0.5rem 0 0 1rem;
	}
	.line-head{
		background-color: $fc;
		width: 100%;
		height: 1px;
	}
	.social-block{
		position: relative;
		font-weight: 600;
		font-size: 1.125rem;
	}
	.social{
		display: flex;
		justify-content: space-around;
		flex-direction: columns;
		img{
			margin-right: 2rem;
			margin-top: 1rem;
		}
	}
	.site-block-call{
		padding: 10rem 0 0rem 0rem;
	}
	.site-block{
		padding: 1.5rem 0 6rem 1rem;
		font-size: 1.125rem;
		font-weight: 600;
		a{
			color: $fcw;
		}
		
		p{
			margin-bottom: 1.5rem;
		}
	}
	.social-icon{
		display: flex;
		justify-content: center;
		align-items: center
	}
	@import 'cart';
	@import 'zakaz';
}